a {
    margin: 10px;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(40, 139, 143);
  }
  

header {
    border-bottom: 1px solid black;
    height: 90px;
    text-align: center;
    font-size: 19px;
    width: 900px;
    margin: 30px;
    padding-bottom: 20px;
    line-height: 50px;

}

.header-title {
    font-size: 65px;
    font-family: 'Libre Barcode 39 Text', cursive;

}

.links {
    padding: 5px;
    font-size: 17px;
    /* font-family: 'Text Me One', sans-serif; */
    /* font-family: 'Space Mono', monospace; */
    font-family: 'Noto Sans JP', sans-serif;

}

.links-row {
    margin-top: 20px;

}