.about-us-page {
    margin: auto;  
    align-content: center;
    justify-content: center;
    display: flex;
}

.about-info {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    border: solid 1px black;
    margin: 5px;
    max-width: 200px;
    background-image: linear-gradient(rgb(149, 192, 228), rgb(218, 228, 236));
    border-radius: 7px;
    margin: auto;  

}

.about-info-head {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    margin: auto;  
    margin-bottom: 30px;
}

.about-name {
    font-size: 26px;
    font-weight: bolder;
    font-variant-caps: small-caps;
}

.profession {
    font-size: 16px;
    font-weight: bolder;
    font-variant-caps: small-caps;
    margin-top: -25px;
}

.about-paragraph {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

.about-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 2px solid black;
    border-radius: 10px;
}

.b-rad-image {
    background-image: url('./ASSETS/b-rad2.png');
}

.casey-image {
    background-image: url('./ASSETS/casey.png');
}

.moises-image {
    background-image: url('./ASSETS/mo2.png');
}

.parker-image {
    background-image: url('./ASSETS/parker.jpg');
}

.li-icon {
    background-image: url('./ASSETS/link-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
} 

.about-link {
    margin-bottom: -50px;
}