.name-header {
    font-size: 15px;
    color: rgb(63, 62, 63);
    font-weight: bold;
    
}
.name {
    font-size: 26px;
    font-weight: bolder;
    font-variant-caps: small-caps;
    
}

.flavors {
    color: rgb(170, 112, 4);
}

.medical2 {
    color: rgb(0, 59, 0);
}

.recreation {
    color: rgb(4, 71, 158);
}

.negative {
    color: brown;
}

.spinner {
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -50px;
    margin-left: -120px;
}

.description {
    font-size: 14px;
    color: rgb(27, 49, 4);
    text-align: start;
    margin-left: 7px;
}

.share-page {
    margin: auto;  
    padding: 10px;
    border: solid 1px black;
    margin: 5px;
    max-width: 460px;
    background-image: linear-gradient(rgba(16, 112, 32, 0.842), rgb(218, 228, 236));
    border-radius: 7px;
}

.share-page-centering {
    margin: auto;  
    display: flex;
    justify-content: center;
}